# Web Framework & Server
fastapi
uvicorn[standard]
pydantic

# Google Earth Engine
earthengine-api
geemap

# Image Processing
numpy
Pillow
requests
rasterio

# tilities
python-dotenv
httpx

# DO NOT put torch here, it breaks on Windows. Install manually using the link.
